// mypage/page
.mypage {
  width: 100%;
  height: 100vh;
  //   background-color: #ffd900;
}

.mypage__box {
  margin: 60px auto;
  padding: 40px;
  max-width: 1200px;
  width: 94%;
  border: 4px solid #ffd900;
  border-radius: 10px;

  @media (max-width: 768px) {
    padding: 20px;
  }

  h2 {
    text-align: center;
  }
}

// components/profile

.profile {
}

.profile__imgBox {
  display: flex;
  align-items: center;

  h4 {
    margin-left: 18px;
  }

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile__useDate {
  margin: 20px 0;
  display: block;
  color: #aaa;
  font-size: 14px;
}

// components/profileSkeleton
.profileSkeleton {
  //   background-color: skyblue;
  display: flex;
  align-items: center;
}

.profileSkeleton__name {
  margin-left: 18px;
  width: 14%;
}

.profileSkeleton__useDate {
  width: 30%;
}
